body{
    max-width: 100%;
    overflow-x: hidden;
}
.main{
    font-family: Helvetica;
}
.topSection{
    background: #F1F3FF; 
    padding-top: 10px;
}

#subnav{
	background-color: #F1F3FF; 
    margin-right: 30px;
}
#carImg{
	padding: 30px 0 0 0;
}
.car{
    margin-left: 30px
}
.bcr{
    margin-top: 20px;
    font-weight: 600;
}
.box{
    background-color: #0D28A6; 
    width: 100px; 
    height: 40px;
}
#toTestimonial {
    padding-bottom: 100px;
}
.owl-carousel {
    overflow: hidden;
}
.owl-carousel .owl-item img {
     width: auto;
}  
.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}  
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
}  
.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #F1F3FF;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}  
.img-testimonial{
    margin: 30px;
    width: 80px !important;
    height: 80px !important;
}
.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
} 
.testi-text {
    margin-top: 10px;
    font-size: 14px;
}  
.testi-user {
    font-weight: 700;
    font-size: 14px;
}
.input_label{
    position: static;
    width: 210.75px;
    height: 14px;
    left: 0px;
    top: 0px;
}
.input_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 9px;
    position: static;
    width: 210.75px;
    height: 36px;
    left: 0px;
    top: 22px;
}
.select_box{
    margin-right: 30px;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .navbar{
        margin-right: 10px;
    }
    #subnav{
        margin-right: -10px;
    }
    #carImg{
        margin-left: auto;
        max-width:90%;
    }
    .car{
        margin-left: auto;
    }
    .img-testimonial {
        width: 70px !important;
        height: 70px !important;
    }
    .testi-card{
        height: 320px !important;
    }
    .user-img {
        object-position: 50px 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .desc-card{
        margin-top: 100px;
        padding: 27px;
    }
    .bg-testimonial{
        width: 90%;
        height: 270px;
        overflow: hidden;
        position: relative;
        height: 270px;
        border-radius: 8px;
        overflow: hidden;
    }
    .star-img {
        width: 88px !important;
        height: 21px !important;
        margin-left: auto;
        margin-right: auto;

    }
    #hero{
        padding-top: 20px;
    } 
    #toWhyUs h3 {
        text-align: center;
    }
    .whyUs{
        text-align: center;
    }
    #toFAQ h3 {
        text-align: center;
    }
    .faq{
        text-align: center;
    }
    #car img{
        width: 350px;
        margin-left: auto;
    }
    .owl-carousel{
        margin-left: 12px;
        margin-right: 12px;
        width: 300px;
    } 
    #offcanvasRight{
        max-width: 50%;
    }
    html, body {
        overflow-x:hidden ;
    } 
    .heading-title {
        margin-top: 20px;
        font-size: 36px;
    }
    #buttonNav{
        margin-left: 40px;
    }
    .heading{
        font-weight: bold;
    }
    .star img {
        float: left;
        margin-bottom: 8px;
    }
    
}